body {
  background-color:gold;
}

#board {
  width: 400px;
  overflow: hidden;
  margin:50px auto;
}

#board .tile {
  background:#b80000;
}

#board .tile,
#board .tile img {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  float: left;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#board .tile img {
  visibility: hidden;
}